alias nv="nvim"
alias ls="ls --color=auto"
alias ll="ls -lav --ignore=.. --ignore=."
alias lf="yazi"
alias :q="exit"
alias wifi-password="nmcli device wifi show-password ifname wlp3s0"
alias system="fastfetch"
alias rm="trash"
alias chbat="sudoedit /etc/auto-cpufreq.conf && sudo systemctl restart auto-cpufreq.service"
alias lg="lazygit"
alias grep="grep --color=auto"
alias cook="make"
